In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv('regression_train.csv')

In [3]:
df.head()

,id,date,route_id,vh_id,route_nm,now_latitude,now_longitude,now_station,now_arrive_time,distance,next_station,next_latitude,next_longitude,next_arrive_time
0,0,2019-10-15,405136001,7997025,360-1,33.456267,126.551750,제주대학교입구,06시,266.0,제대마을,33.457724,126.554014,24
1,1,2019-10-15,405136001,7997025,360-1,33.457724,126.554014,제대마을,06시,333.0,제대아파트,33.458783,126.557353,36
2,2,2019-10-15,405136001,7997025,360-1,33.458783,126.557353,제대아파트,06시,415.0,제주대학교,33.459893,126.561624,40
3,3,2019-10-15,405136001,7997025,360-1,33.479705,126.543811,남국원(아라방면),06시,578.0,제주여자중고등학교(아라방면),33.484860,126.542928,42
4,4,2019-10-15,405136001,7997025,360-1,33.485662,126.494923,도호동,07시,374.0,은남동,33.485822,126.490897,64

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210457 entries, 0 to 210456
Data columns (total 14 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                210457 non-null  int64
 1   date              210457 non-null  object
 2   route_id          210457 non-null  int64
 3   vh_id             210457 non-null  int64
 4   route_nm          210457 non-null  object
 5   now_latitude      210457 non-null  float64
 6   now_longitude     210457 non-null  float64
 7   now_station       210457 non-null  object
 8   now_arrive_time   210457 non-null  object
 9   distance          210457 non-null  float64
 10  next_station      210457 non-null  object
 11  next_latitude     210457 non-null  float64
 12  next_longitude    210457 non-null  float64
 13  next_arrive_time  210457 non-null  int64
dtypes: float64(5), int64(4), object(5)
memory usage: 22.5+ MB

In [5]:
df = df[['date','route_nm','now_station','now_arrive_time','distance','next_station','next_arrive_time']]

In [6]:
df

,date,route_nm,now_station,now_arrive_time,distance,next_station,next_arrive_time
0,2019-10-15,360-1,제주대학교입구,06시,266.0,제대마을,24
1,2019-10-15,360-1,제대마을,06시,333.0,제대아파트,36
2,2019-10-15,360-1,제대아파트,06시,415.0,제주대학교,40
3,2019-10-15,360-1,남국원(아라방면),06시,578.0,제주여자중고등학교(아라방면),42
4,2019-10-15,360-1,도호동,07시,374.0,은남동,64
...,...,...,...,...,...,...,...
210452,2019-10-28,281-2,비석거리,21시,528.0,삼아아파트,96
210453,2019-10-28,281-2,동문로터리,21시,280.0,매일올레시장 7번입구,50
210454,2019-10-28,281-2,서귀포시 구 버스터미널,21시,114.0,아랑조을거리 입구,16
210455,2019-10-28,281-2,아랑조을거리 입구,21시,223.0,평생학습관,38
210456,2019-10-28,281-2,대륜동주민센터,21시,189.0,서귀포버스터미널(가상정류소),24

In [7]:
df['date'] = pd.to_datetime(df['date'])
df['dayofweek'] = df['date'].dt.dayofweek

In [8]:
len(df['route_nm'].unique())

21

In [9]:
len(df['now_station'].unique())

348

In [10]:
len(df['next_station'].unique())

351

In [11]:
len(df['now_arrive_time'].unique())

20

In [12]:
df.groupby(['now_station','next_station']).sum()

                               distance  next_arrive_time  dayofweek
now_station next_station
911의원       북촌리해동              104155.0             11886        334
            함덕리 4구             118363.0             21536        778
            함덕리(4구)             63640.0              7780        580
LH아파트       광대왓                133488.0             20526        634
가마초등학교      샤인빌리조트입구            74026.0              7214        381
...                                 ...               ...        ...
효례교         효돈중학교                6507.0               918         81
흙통          답다니                112701.0             10190        809
            오희준 공원              88998.0              7484        537
희진주유소       삼달교차로               78915.0              6172        215
            신산환승정류장(성산농협신산지점)  166725.0             16826       1059

[724 rows x 3 columns]

In [13]:
test_df = pd.read_csv('regression_test.csv')

In [14]:
test_df = test_df[['date','route_nm','now_station','now_arrive_time','distance','next_station']]

In [15]:
test_df['date'] = pd.to_datetime(test_df['date'])
test_df['dayofweek'] = test_df['date'].dt.dayofweek

In [16]:
for i in df['now_station'].unique():
    if i not in test_df['now_station'].unique():
        print(i)

In [17]:
for i in test_df['now_station'].unique():
    if i not in df['now_station'].unique():
        print(i)

제주한라대학교(종점)

In [18]:
for i in df['next_station'].unique():
    if i not in test_df['next_station'].unique():
        print(i)

전경대 입구

In [19]:
for i in test_df['next_station'].unique():
    if i not in df['next_station'].unique():
        print(i)

In [20]:
test_df[test_df['now_station'] == '제주한라대학교(종점)']

,date,route_nm,now_station,now_arrive_time,distance,next_station,dayofweek
2868,2019-10-29,365-21,제주한라대학교(종점),07시,431.0,시티주유소,1

In [21]:
df[df['next_station'] == '시티주유소']

,date,route_nm,now_station,now_arrive_time,distance,next_station,next_arrive_time,dayofweek
3004,2019-10-15,365-21,중흥S클래스아파트,07시,221.0,시티주유소,42,1
3084,2019-10-15,365-21,중흥S클래스아파트,14시,221.0,시티주유소,50,1
3099,2019-10-15,365-21,중흥S클래스아파트,18시,221.0,시티주유소,42,1
3190,2019-10-15,365-21,중흥S클래스아파트,09시,221.0,시티주유소,36,1
3230,2019-10-15,365-21,중흥S클래스아파트,12시,221.0,시티주유소,28,1
...,...,...,...,...,...,...,...,...
199506,2019-10-28,365-21,중흥S클래스아파트,21시,221.0,시티주유소,38,0
199591,2019-10-28,365-21,중흥S클래스아파트,12시,221.0,시티주유소,42,0
199633,2019-10-28,365-21,중흥S클래스아파트,16시,221.0,시티주유소,54,0
199674,2019-10-28,365-21,중흥S클래스아파트,19시,221.0,시티주유소,40,0
199708,2019-10-28,365-21,중흥S클래스아파트,22시,221.0,시티주유소,34,0

In [22]:
df[df['next_station'] == '시티주유소']['now_station'].unique()

array(['중흥S클래스아파트'], dtype=object)

In [23]:
df[ df['next_station'] == '전경대 입구']

,date,route_nm,now_station,now_arrive_time,distance,next_station,next_arrive_time,dayofweek
26367,2019-10-16,201-17,상도마을회관,07시,1419.0,전경대 입구,100,2
84871,2019-10-20,201-15,상도마을회관,08시,1419.0,전경대 입구,98,6
84981,2019-10-20,201-15,상도마을회관,18시,1419.0,전경대 입구,98,6
101966,2019-10-21,201-17,상도마을회관,07시,1419.0,전경대 입구,116,0
131735,2019-10-23,201-15,상도마을회관,20시,1419.0,전경대 입구,106,2
132903,2019-10-23,201-17,하도리 개긋물,07시,781.0,전경대 입구,76,2
176264,2019-10-26,201-15,상도마을회관,17시,1419.0,전경대 입구,104,5

In [24]:
test_df[test_df['now_station'] == '상도마을회관']

,date,route_nm,now_station,now_arrive_time,distance,next_station,dayofweek
8345,2019-10-29,201-16,상도마을회관,19시,334.0,상도리 세화고등학교,1
8430,2019-10-29,201-16,상도마을회관,07시,334.0,상도리 세화고등학교,1
8571,2019-10-29,201-16,상도마을회관,17시,334.0,상도리 세화고등학교,1
9657,2019-10-29,201-18,상도마을회관,13시,334.0,상도리 세화고등학교,1
25293,2019-10-31,201-16,상도마을회관,08시,334.0,상도리 세화고등학교,3
26356,2019-10-31,201-18,상도마을회관,20시,334.0,상도리 세화고등학교,3
38260,2019-11-01,201-17,상도마을회관,08시,304.0,세화고등학교,4
61122,2019-11-03,201-16,상도마을회관,07시,334.0,상도리 세화고등학교,6
74412,2019-11-04,201-16,상도마을회관,13시,334.0,상도리 세화고등학교,0
74891,2019-11-04,201-16,상도마을회관,20시,334.0,상도리 세화고등학교,0
87267,2019-11-05,201-16,상도마을회관,18시,334.0,상도리 세화고등학교,1
87424,2019-11-05,201-16,상도마을회관,07시,334.0,상도리 세화고등학교,1

- test_df['now_station'] == '제주한라대학교(종점)' 값을 중흥S클래스아파트 로 변경
- df['next_station'] == '전경대 입구' 제거

In [25]:
indexNames = df[df['next_station'] == "전경대 입구"].index
df.drop(indexNames, inplace=True)

In [26]:
test_df['now_station'][2868]

'제주한라대학교(종점)'

In [27]:
test_df['now_station'][2868] = "중흥S클래스아파트"

In [28]:
df['route_nm'].unique()

array(['360-1', '360-2', '360-7', '360-12', '365-21', '365-22', '201-11',
       '201-12', '201-13', '201-14', '201-15', '201-16', '201-17',
       '201-18', '201-21', '201-22', '201-24', '201-26', '201-27',
       '281-1', '281-2'], dtype=object)

In [29]:
test_df['route_nm'].unique()

array(['360-1', '360-2', '360-7', '360-12', '365-21', '365-22', '201-11',
       '201-12', '201-13', '201-14', '201-15', '201-16', '201-17',
       '201-18', '201-21', '201-22', '201-24', '201-26', '201-27',
       '281-1', '281-2'], dtype=object)

In [30]:
df = df.iloc[:,1:]

In [31]:
test_df = test_df.iloc[:,1:]

In [32]:
df

,route_nm,now_station,now_arrive_time,distance,next_station,next_arrive_time,dayofweek
0,360-1,제주대학교입구,06시,266.0,제대마을,24,1
1,360-1,제대마을,06시,333.0,제대아파트,36,1
2,360-1,제대아파트,06시,415.0,제주대학교,40,1
3,360-1,남국원(아라방면),06시,578.0,제주여자중고등학교(아라방면),42,1
4,360-1,도호동,07시,374.0,은남동,64,1
...,...,...,...,...,...,...,...
210452,281-2,비석거리,21시,528.0,삼아아파트,96,0
210453,281-2,동문로터리,21시,280.0,매일올레시장 7번입구,50,0
210454,281-2,서귀포시 구 버스터미널,21시,114.0,아랑조을거리 입구,16,0
210455,281-2,아랑조을거리 입구,21시,223.0,평생학습관,38,0
210456,281-2,대륜동주민센터,21시,189.0,서귀포버스터미널(가상정류소),24,0

In [33]:
test_df

      route_nm   now_station now_arrive_time  distance next_station  dayofweek
0        360-1          제대마을             07시     333.0        제대아파트          1
1        360-1         제대아파트             07시     415.0        제주대학교          1
2        360-1   한라중학교/부영아파트             08시     417.0      대림2차아파트          1
3        360-1       대림2차아파트             08시     334.0    연동대림1차아파트          1
4        360-1     연동대림1차아파트             08시     550.0        케이티앤지          1
...        ...           ...             ...       ...          ...        ...
91769    281-2  제주지방법원(광양방면)             20시     272.0   고산동산(광양방면)          1
91770    281-2    고산동산(광양방면)             20시     447.0   제주시청(광양방면)          1
91771    281-2    제주시청(광양방면)             20시     418.0        광양사거리          1
91772    281-2         광양사거리             20시     140.0  탐라장애인 종합복지관          1
91773    281-2          용천마을             20시     541.0  제주버스터미널(종점)          1

[91774 rows x 6 columns]

In [34]:
from sklearn.preprocessing import LabelEncoder

In [35]:
col = ['route_nm','now_station','next_station','now_arrive_time']

In [36]:
for i in col:
    lab = LabelEncoder()
    lab.fit(df[i])
    df[i] = lab.transform(df[i])

In [37]:
for i in col:
    lab = LabelEncoder()
    lab.fit(test_df[i])
    test_df[i] = lab.transform(test_df[i])

In [38]:
X = df[df.columns.difference(['next_arrive_time'])]
y = df['next_arrive_time']

In [39]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV, KFold

In [40]:
rf_param_grid = {
    'n_estimators': [100, 150, 200, 250],
    'max_depth': [None, 6, 9, 12],
    'min_samples_split': [0.01, 0.05, 0.1],
    'max_features': ['auto', 'sqrt'],
}
kf = KFold(random_state = 0,
          n_splits = 10,
          shuffle = True)

In [41]:
rf = RandomForestRegressor()

In [42]:
rf_grid_search = GridSearchCV(estimator = rf,
                          param_grid = rf_param_grid,
                          cv = kf,
                          n_jobs = -1,
                          verbose = 2)

In [43]:
rf_grid_search.fit(X, y)

Fitting 10 folds for each of 96 candidates, totalling 960 fits

GridSearchCV(cv=KFold(n_splits=10, random_state=0, shuffle=True),
             estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'max_depth': [None, 6, 9, 12],
                         'max_features': ['auto', 'sqrt'],
                         'min_samples_split': [0.01, 0.05, 0.1],
                         'n_estimators': [100, 150, 200, 250]},
             verbose=2)

In [45]:
pred = rf_grid_search.best_estimator_.predict(test_df)

In [46]:
submission = pd.read_csv('submission_제출양식.csv')
submission['next_arrive_time'] = pred
submission.to_csv("submission_bus.csv", index=False)